body {
  background: #0b0b0b;
  color: #d4af37;
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card, .admin {
  background: #111;
  padding: 30px;
  border-radius: 14px;
  width: 350px;
  box-shadow: 0 0 25px #d4af3750;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #d4af37;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 10px;
}

button:hover {
  background: #f1c94a;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px 0;
}

.audience {
  flex-direction: column;
  text-align: center;
}

#audiencePlayer {
  width: 80vw;
  height: 45vw;
  max-width: 960px;
  max-height: 540px;
}
